* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100%;
}

header {
    background-image: linear-gradient(to right, #FFD079, #FFA578, #FF7777);
    height: 100px;
}

h1.header1 {
    color: #ffffff;
    padding-top: 35px;
    padding-left: 15px;
    padding-bottom: 35px;
    font-size: 40px;
}

h1 {
    padding-top: 35px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav {
    background-color: #181818;
    height: 50px;
    color: #ffffff;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #1d1d1d;
}

#menu ul li {
    padding-left: 5px;
    float: left;
}

#menu ul li a {
    display: inline-block;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #bd0606;
    text-decoration: none;
}

#menu li a:active {
    background-color: #b16b6b;
}

img {
    width: 33%;
    float: left;
    padding: 5px;
}

.clearfix {
    overflow: auto;
}

div.left {
    clear: left;
    width: 75%;
    margin-top: 0px;
    padding: 10px;
    text-align: justify;
}

div.right {
    float: right;
    width: 25%;
    margin-top: 0px;
    background-color: #d3d3d3;
}

.left,
.right,
.formulario {
    float: left;
    height: 500px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #d3d3d3;
    width: 95%;
    margin: auto;
    margin-top: 15px;
    box-shadow: 10px 10px 10px #272727;
    border-collapse: collapse;
}

th {
    background-color: #fd6f6f;
    color: #ffffff;
    font-weight: bold;
}

td {
    background-color: #d3d3d3;
    border-bottom: 1px solid #757575;
}

div.formulario {
    float: right;
    width: 25%;
    background-color: #d3d3d3;
}

.formulario label,
input {
    display: block;
}

label {
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 15px;
}

textarea {
    padding-left: 10px;
    margin-top: 5px;
    width: 93%;
    margin-left: 20px;
}

input[type=text] {
    margin-left: 20px;
    width: 93%;
    border: none;
}

footer {
    text-align: right;
    background-image: linear-gradient(to right, #FFD079, #FFA578, #FF7777);
    height: 100px;
    width: 100%;
    padding-top: 35px;
    padding-right: 15px;
    bottom: 0;
    color: white;
}